jupyter-book>=1.0.0
teachbooks
sphinx-book-theme>=1.0.0
sphinx-proof
sphinx-exercise
sphinx-togglebutton
sphinx-design
sphinx-thebe
sphinxcontrib-bibtex
sphinx-named-colors
sphinx-image-inverter
sphinx-iframes
teachbooks-sphinx-tippy
matplotlib
numpy
sympy
cryptography
pycryptodome
