name: call-deploy-book

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-book:
    uses: TeachBooks/deploy-book-workflow/.github/workflows/deploy-book.yml@main
